<div class="dashboard-menu">
  <img alt='logo' class='dashboard-menu-logo' src='/assets/img/logo.png' (click)="router.navigate(['vehicles'])" />
  <div class='dashboard-menu-menu'>
    <div class='menu-container'>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/vehicles/">Vehiculos</a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/drivers/">Conductores</a>
      <a class="menu-element" routerLinkActive="is-active" routerLink="/owners/">Dueños</a>
    </div>
  </div>
</div>