.crud {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    box-shadow: 0px 2px 6px 0px #00000066;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
   
    .crud-table {
        overflow: auto;
        --grid-columns-table: 1fr;

        .headers-table {
            background-color: #fcfbfb7d;
            border: 1px solid rgba(187, 187, 187);
            display: grid;
            width: max-content;
            min-width: 100%;
            grid-template-columns: var(--grid-columns-table);
    
            .header-item {
                align-items: center;
                display: flex;
                justify-content: space-between;
                gap: 4px;
                padding: 5px 5px 5px 7px;
                border-left: 1px solid rgba(187, 187, 187);
                &:first-child {
                    border-left: none;
                }
    
                .header-item-name {
                    color: rgba(90, 92, 96);
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                } 
        
            }
    
        }
    
        .list-items-table { 
            max-height: 450px;
            width: max-content;
            min-width: 100%;

            .list-item-table {
                border-bottom: 1px solid rgba(187, 187, 187);
                display: grid;
                grid-template-columns: var(--grid-columns-table);
                height: 44px;
                width: 100%;
                
                > div {
                    align-items: center;
                    color: rgba(64, 64, 64);
                    display: flex;
                    font-size: 13px;
                    overflow-wrap: anywhere;
                    padding: 5px 5px 5px 7px;
                    font-size: 13px;
                    color: rgba(64, 64, 64);
                }

            }

    
        }

    }

}

.filters {
    display: grid;
    grid-template-columns:  1fr max-content;
    grid-gap: 6px;
    min-height: 62px;
    padding: 0px 20px;
    width: 100%;

    
    .title-module {
        align-items: center;
        display: flex;
        span {
            color: #857c7c;
            font-size: 18px;
            font-weight: bold;
        }
    }


    .right-actions {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: max-content;
    }


}